header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

h2 {
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

mat-form-field {
  width: 25rem;
}
