/* You can add global styles to this file, and also import other style files */

:root {
  --default-background: #212121;
  --secondary-background: rgba(194, 24, 91, 0.35);

  --background-color: --default-background;
  --font-color: #fff;
  height: 100%;
  background: var(--default-background);
}

* {
  color: var(--font-color);
}

html,
body {
  transition-duration: 1000ms;
  background: var(--background-color);
}
body {
  min-height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page {
  margin: 0 auto;
  max-width: 1000px;
}

/* Haven't found any simple and obvious solution so ...*/
.mat-snack-bar-container {
  background-color: var(--default-background);
}
